[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1"
djangorestframework = "~=3.14"
drf-spectacular = { version = "~=0.25.1", extras = ["sidecar"] }
whitenoise = "~=6.3"
django-mathfilters = "~=0.1.2"
simple_openid_connect = { version = "~=0.2.4", extras = ["django", "djangorestframework"] }
environs = { version = "~=9.5", extras = ["django"] }

[dev-packages]
pre-commit = "*"
isort = "*"
black = "*"
ipython = "*"

[requires]
python_version = "3"
