[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"
django-configurations = {version = "~=2.2", extras = ["database"]}
graphene-django = "~=2.15"
djangorestframework = "~=3.12"
drf-spectacular = "~=0.20.2"
whitenoise = "~=5.3"
django-auth-mafiasi = {git = "https://github.com/fsinfuhh/django_auth_mafiasi.git", editable=true}

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3"
