{% extends "base.html" %}
{% load static %}

{% block authorized-content %}
    <h4>Your current balance is <b>{{ current_balance }}€</b></h4>

    <div class="divider"></div>

    <div class="row section">
        {% include "components/forms/record-purchase.html" %}
    </div>

    <div class="row section">
        {% include "components/forms/pay-up.html" %}
    </div>

    <div class="divider"></div>

    <div class="row sectionr">
        {% for transaction in transactions %}
            {% include "components/transaction.html" %}
        {% endfor %}
    </div>
{% endblock %}
