.horizontal-align {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
}

.horizontal-align .input-field {
    flex-grow: 1;
}

.horizontal-align button {
    min-width: 148px;
}

.transaction .card-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 64px
}

.transaction .card-content .card-title {
    margin-bottom: 0;
}

.transaction .card-content * {
    font-weight: 300;
}

.transaction .card-content .grow {
    flex-grow: 1;
}

nav .brand-logo {
    padding-left: 20px;
}

.mafiasi-primary {
    background-color: #02837c;
}

.btn.mafiasi-primary:hover {
    background-color: #00a49a;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #02837c;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #02837c;
    box-shadow: 0 1px 0 0 #02837c;
}