{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block authorized-content %}
    <h4 class="text-4xl leading-normal">
        Your current balance is <b>{{ current_balance | floatformat:2 | intcomma }}</b>€
    </h4>

    <hr class="py-2">

    {% include "components/forms/record-purchase.html" %}

    {% include "components/forms/pay-up.html" %}

    <h4 class="text-4xl leading-normal">Past transactions</h4>
    <hr class="py-2">
    <div class="flex flex-col gap-2">
        {% for transaction in transactions %}
            {% include "components/transaction.html" %}
        {% endfor %}
    </div>
{% endblock %}
