{% extends "base.html" %}
{% load static %}

{% block authorized-content %}
    <h4 class="text-4xl leading-normal">
        Profile Settings
    </h4>

    <section class="mt-4">
        <h5 class="text-2xl leading-normal">Basic Information</h5>
        <dl>
            <div class="flex gap-2">
                <dt class="font-bold">Username:</dt>
                <dd>{{ request.user }} </dd>
            </div>

        </dl>
    </section>

    <section class="mt-4">
        <h5 class="text-2xl leading-normal">Webhooks</h5>
        <div>
            TODO: Put webhook configuration here
        </div>
    </section>
{% endblock %}
