<form id="purchase" class="js-submit" action="{% url 'transaction-list' %}?currency=euro&type=purchase" method="post">
    {% csrf_token %}
    <div class="horizontal-align">
        <div class="input-field">
            <input id="purchase-value" class="validate" name="amount" placeholder="1" type="number" required step="0.1" value="1" min="1">
            <label for="purchase-value">Purchase Value (€)</label>
        </div>

        <div class="input-field">
            <input id="purchase-description" name="description" placeholder="fritz-kola" type="text">
            <label for="purchase-description">Description</label>
        </div>

        <button class="btn btn-large mafiasi-primary" type="submit">Purchase</button>
    </div>
</form>
