{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if page_title %}
        <title>{{ page_title }} – {{ title }}</title>
    {% else %}
        <title>{{ title }}</title>
    {% endif %}
    {% block  head %}
        <link rel="manifest" href="{% url 'manifest' %}">
        {% tailwind_css %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% if page_description %}
            <meta name="description" content="{{ page_description }}">
        {% endif %}
        {% block head-extra %}{% endblock %}
    {% endblock %}
</head>
<body class="flex flex-col min-h-screen bg-gray-50 dark:bg-gray-900 text-black dark:text-white">
{% block body %}
    {% include "components/navbar.html" %}
    <div class="w-full sm:max-w-xl lg:max-w-4xl mx-auto py-4 px-4 sm:px-0 grow">

        {% block content %}
            {% if request.user.is_anonymous %}
                {% include "components/login-card.html" %}
            {% else %}

                {% block authorized-content %}
                    <p style="text-align: center">
                        <b>Overwrite "content" block to extend the base template</b>
                    </p>
                {% endblock %}

            {% endif %}

        {% endblock %}
    </div>
    <hr>
    {% include "components/footer.html" %}
    {% block scripts %}
        <script type="application/javascript" src="{% static 'base.js' %}"></script>
        {% block scripts-extra %}{% endblock %}
    {% endblock %}
{% endblock %}
</body>
</html>
