{% load macros %}
{% loadmacros "components/forms.html" %}

<form id="purchase" class="js-submit mt-4 mb-8 sm:mb-2"
      action="{% url 'transaction-list' %}?currency=euro&type=purchase" method="post">
    {% csrf_token %}
    <div class="grid grid-cols-2 sm:grid-cols-3 justify-stretch gap-2">
        {% usemacro input "Purchase Value (€)" "amount" value="1.5" type="number" required=True step="0.1" %}

        {% usemacro input "Description" "description" type="text" placeholder="fritz-kola" %}

        {% usemacro button "Purchase" color="orange" class="col-span-2 sm:col-span-1" %}
    </div>
</form>
