<nav class="w-full sticky top-0 z-40">
    <div class="bg-primary-400 dark:bg-primary-600 text-black dark:text-white flex justify-between px-2 items-stretch">
        <a href="/" class="text-3xl font-bold place-self-center">{{ title }}</a>
        <ul class="flex items-stretch">
            <li>
                <a class="px-2  h-16 hover:bg-primary-700 transition-colors flex items-center" href="#"
                   onclick="switchMode()" id="modeSwitch">
                    <span data-icon="user" class="size-m"></span>
                </a>
            </li>
            {% if request.user.is_anonymous %}
                <li>
                    <a class="px-2 h-16 hover:bg-primary-700 transition-colors flex items-center"
                       href="{% url 'simple_openid_connect:login' %}" aria-description="login">
                        <span data-icon="login" class="size-m"></span>
                    </a>
                </li>
            {% else %}
                <li>
                    <a class="px-2 h-16 hover:bg-primary-700 transition-colors flex items-center"
                       href="{% url 'profile' %}" aria-description="profile">
                        <span data-icon="user" class="size-m"></span>
                </a>
                </li>
                <li>
                    <a class="px-2 h-16 hover:bg-primary-700 transition-colors flex items-center"
                       href="{% url 'simple_openid_connect:logout' %}" aria-description="logout">
                        <span data-icon="logout" class="size-m"></span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
