<nav>
    <div class="nav-wrapper color-primary">
        <a href="/" class="brand-logo left">{{ title }}</a>
        <ul class="right">
            <li><a href="https://github.com/fsinfuhh/vinywaji" target="_blank" rel="noopener">Repository</a></li>
            <li><a href="{% url 'swagger-ui' %}">Api</a></li>
            {% if request.user.is_anonymous %}
                <li><a href="{% url 'simple_openid_connect:login' %}">Login</a></li>
            {% else %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'simple_openid_connect:logout' %}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
