{% load mathfilters %}
{% load humanize %}

<div class="rounded-2xl py-2 px-4 shadow-lg flex flex-col
        {% if transaction.amount < 0 %}
            bg-orange-300 dark:bg-orange-900
        {% elif transaction.amount == 0 %}
            bg-gray-300 dark:bg-gray-700
        {% else %}
            bg-lime-300 dark:bg-green-900
        {% endif %}">
    <div class="flex justify-between text-gray-700 dark:text-gray-300">
        <span>
            {% if transaction.amount < 0 %}purchase
            {% elif transaction.amount == 0 %}transaction (why???)
            {% else %}deposit
            {% endif %}
        </span>
        <span class="italic">
        {{ transaction.time | naturaltime }}
    </span>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-4">
        <span class="text-2xl font-bold">
            {% if transaction.amount < 0 %}
                {{ transaction.amount | abs | div:100 | floatformat:2 | intcomma }}
            {% elif transaction.amount == 0 %}
                {{ 0 }}
            {% else %}
                {{ transaction.amount | abs | div:100 | floatformat:2 | intcomma }}
            {% endif %}
            €
        </span>
        {% if transaction.description != "" %}
            <span class="col-span-3">{{ transaction.description }}</span>
        {% endif %}
    </div>
</div>
