<div class="row">
    <div class="col l8 push-l2 m12 s12">
        <div class="card ">
            <div class="card-content">
                <h1 class="card-title">Login required</h1>
                <p>You need to login in order to use this service.</p>
            </div>

            <div class="card-action">
                <a href="{% url 'django_auth_mafiasi:login' %}" class="btn">
                    <i class="material-icons left">login</i>Login with Mafiasi
                </a>
            </div>
        </div>
    </div>
</div>
