{% load mathfilters %}
{% load humanize %}

<div class="card transaction {% if transaction.amount < 0 %}amber amber lighten-4{% else %}light-green lighten-4{% endif %}">
    <div class="card-content">
        <span class="card-title">
            {% if transaction.amount < 0 %}
                {{ transaction.amount | abs | div:100 | floatformat:2 | intcomma }}€ purchase
            {% elif transaction.amount == 0 %}
                {{ 0 }}€ transaction (why???)
            {% else %}
                {{ transaction.amount | abs | div:100 | floatformat:2 | intcomma }}€ deposit
            {% endif %}
        </span>
        {% if trnsaction.description != "" %}
            <span>{{ transaction.description }}</span>
        {% endif %}
        <div class="grow"></div>
        <span>{{ transaction.time | naturaltime }}</span>
    </div>
</div>
